# Desenvolvido por L. A. Leandro Sao Jose dos Campos- SP
# Data: 25/05/2026

# Credenciais do Broker MQTT
MQTT_BROKER_URL=localhost
MQTT_BROKER_PORT=1883
MQTT_USER=iot_simulator
MQTT_PASSWORD=s3nh4_s3gur4

# Identificador opcional do cliente MQTT
MQTT_CLIENT_ID=simulador_industria_01
